<div class="header">
  <h3 class="text-muted">Roquettes</h3>
</div>

<div class="container">
    <div class="row">
        <div class="well">
            <h3 class="text-muted">Stove management</h3>
            <br>
            <div class="row">
                <div class="col-sm-4 text-center">
                    <p>
                        <button class="btn btn-lg btn-info" data-loading-text="Sending..." ng-click="loaded($event)">Load</button>
                    </p>
                </div>
                <div class="col-sm-4 text-center">
                    <p>
                        <button class="btn btn-lg btn-success" data-loading-text="Sending..." ng-click="started($event)">Start</button>
                    </p>
                </div>
                <div class="col-sm-4 text-center">
                    <p>
                        <button class="btn btn-lg btn-danger" data-loading-text="Sending..." ng-click="stopped($event)">Stop</button>
                    </p>
                </div>
            </div>
            <br>
            <br>
            <small>
                <button type="button" class="btn btn-default btn-sm" data-toggle="collapse" data-target="#forceDate">
                  <span class="glyphicon glyphicon-calendar" title="Force date"></span>
                </button>
            </small>
            <br>
            <br>
            <div class="row">
                <div id="forceDate" class="col-sm-offset-2 col-sm-8 collapse">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <datetimepicker ng-model="forceDate"></datetimepicker>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
